# Stops the lookup for configuration files to this directory
config.stopBubbling = true

# Allows constructor injection with @Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

# Enables Lombok constructor annotations (e.g. @AllArgsConstructor) to serve as JSON creators for Jackson
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty